* {
  box-sizing: border-box;
  font-family:  Arial, Helvetica, sans-serif;
}

h1 {
	text-align: center;
	font-size: 175%;
}

.menu {
	border: 1px black solid;
	padding: 1%;
	padding-top: 0;
	margin-left: 1%;
	margin-top: 3%;
	position: relative;
}

.title {
	position: absolute;
	border: black solid 1px;
	width: 33%;
	right:  -1px;
	top: -1px;
	text-align: center;
	margin-top: 0;
	margin-right: 0;
	margin-left: 0;
	margin-bottom: 5%;
	margin-block-start: 0;
	margin-block-end: 0;
	font-size: 125%;
}

.description {
	margin-top: 2em;
}

@media (min-width: 992px) {
	.menu {
		width: 32%;
		float: left;
		border: 1px black solid;
	}
}

@media (min-width: 768px) and (max-width: 991px) {
	.menu {
		width: 48.5%;
		float: left;
	}
	#menu3 {
		width: 98%;
		clear: left;
	}
}

@media (max-width: 767px) {
	.menu {
		width: 98%;
	}
}

#menu1 {
	background: lightgreen;
}

#menu2 {
	background: lightblue;
}

#menu3 {
	background: orange;
}

#title1 {
	background: pink;
}

#title2 {
	background: red;
	color: white;
}

#title3 {
	background: orchid;
}
